{% extends "Layout/default.html" %}
{% block title %}Task List{% endblock %}
{% block head %}
{{ parent() }}

{% endblock %}

{% block content %}
<div class="container">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">OOPS!</h4>
                <h6 class="card-subtitle mb-2 text-muted">Error</h6>
                <p class="card-text">
                    <div class="alert alert-danger" role="alert">
                    {{message | raw }}
                    </div>
                </p>
                <div class="text-center">
                    <a href="./" class="btn btn-lg btn-primary"><i class="fa fa-home"></i> Home</a>
                </div>
            </div>
        </div>
</div>
{% endblock %}